__pycache__/
*.py[cod]
*$py.class

.env

migrations/versions/
/migrations/versions
migrations/versions

venv/
env/

.vscode/
.idea/

*.pyc

*.log
log.txt

*.pyc

*.sqlite3

Dockerfile
docker-compose.yml
.dockerignore

test_db.sqlite

/static

/uploads

/docs/_build/

/client

.env/
.pyenv/
